@use '../../../../styles/00-settings/variables' as *;
@use '../../../../styles/01-tools/mixins' as mixins;

.recurso-estado {
  padding: $espaciado-m;
  height: 100%;
  container-type: inline-size;

  border: $borde-thin solid var(--borde-cards);
  border-radius: $radio-card;
  background-color: var(--bg-cards);
  box-shadow: $shadow-sm;
  
  transition: box-shadow $transicion-base $transicion-suave;
  overflow-x: hidden;

  &:hover {
    box-shadow: $shadow-md;
  }

  &__header {
    @include mixins.display-flex(row, $espaciado-s, flex-start, space-between);
    margin-bottom: $espaciado-m;
    flex-wrap: wrap;
  }

  &__nombre {
    @include mixins.tipografia(h4, var(--titulos));
    min-width: 0;
    flex: 1;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    word-wrap: break-word;
  }

  &__estado {
    @include mixins.tipografia(texto-pequeno, var(--texto-primario));
    padding: $espaciado-xs $espaciado-s;
    border-radius: $radio-sm;
    font-weight: $font-weight-medium;
    white-space: nowrap;

    &--ocupado {
      color: var(--texto-secundario);
      background-color: var(--error);
      opacity: 0.9;
    }

    &--disponible {
      color: var(--texto-secundario);
      background-color: var(--success);
      opacity: 0.9;
    }
  }

  &__info {
    @include mixins.display-flex(row, $espaciado-s, center);
    @include mixins.tipografia(texto-pequeno, var(--texto-primario));

    i {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  }
}
@container (max-width: 230px) {
  .recurso-estado {
    @include mixins.display-flex(column, $espaciado-s,stretch, space-between);
    
    &__header {
      @include mixins.display-flex(column, $espaciado-s, flex-start);
    }
  }
}


