<article class="recurso-estado">
  <header class="recurso-estado__header">
    <h3 class="recurso-estado__nombre">{{ recursoInfo.recurso.nombre || 'Sin nombre' }}</h3>
    <span 
      class="recurso-estado__estado"
      [class.recurso-estado__estado--ocupado]="getEstadoRecurso() === 'Ocupado'"
      [class.recurso-estado__estado--disponible]="getEstadoRecurso() === 'Disponible'">
      {{ getEstadoRecurso() }}
    </span>
  </header>
  <aside class="recurso-estado__info">
    <i [feather]="'calendar'"></i>
    <span>{{ getTextoProximaReserva() }}</span>
  </aside>
</article>
