@use '../../../../styles/00-settings/variables' as *;
@use '../../../../styles/01-tools/mixins' as mixins;

.form-select {
	width: 100%;
	margin: auto;

	@include mixins.display-flex(column, $espaciado-s);

	&__label {
		@include mixins.display-flex(row, $espaciado-xs, center);

		&-texto {
			@include mixins.tipografia(texto-pequeno, var(--etiquetas-cards));
		}

		&-requerido {
			color: var(--warning);
			font-weight: $font-weight-bold;
		}
	}

	&__contenedor {
		width: 100%;
		min-width: 0;
		height: 48px;
		padding: 0 $espaciado-m;
		z-index: 0;

		position: relative;

		@include mixins.display-flex(row, $espaciado-s, center);
		box-sizing: border-box;
		border: $borde-thin solid var(--borde);
		border-radius: $radio-campo;

		background: var(--bg-primario);

		transition: box-shadow $transicion-rapida ease-in-out, border-color $transicion-rapida ease-in-out;

		&:has(.form-select__campo[aria-invalid="true"])::before {
			border-color: var(--error);
			color: var(--error);
		}

		&:hover {
			background-color: var(--hover-enlaces-sidebar);

			cursor: pointer;
		}

		&:focus-within {
			border: 1.8px solid var(--info);
			color: var(--texto-primario);
			background-color: var(--hover);
		}
	}

	&__campo {
		width: 100%;
		height: 100%;
		padding-right: $espaciado-l;
		@include mixins.tipografia(parrafo, var(--texto-primario));
		border: none;

		background: transparent;

		cursor: pointer;
		appearance: none;

		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	&__icono {
		width: 18px;
		height: 18px;
		@include mixins.tipografia(texto-pequeno, var(--etiquetas-cards));

		position: absolute;
		right: $espaciado-m;
		top: 50%;
		transform: translateY(-50%);

		@include mixins.centrar-flex();

		color: var(--texto-primario);
		opacity: 0.6;

		pointer-events: none;
	}

	&__mensaje {
		margin-block-start: 0;
		display: block;
		@include mixins.tipografia(texto-pequeno, var(--etiquetas-cards));
	}

	&__mensaje--error {
		color: var(--error);
	}

	/* Variante requerido */
	&--requerido {
		.form-select__contenedor {
			border-color: var(--warning);
		}

		.form-select__label-texto {
			color: var(--warning);
		}

		.form-select__mensaje {
			color: var(--warning);
		}
	}

	/* Variante desactivado */
	&--desactivado {
		@include mixins.desactivado();

		.form-select__label-texto {
			color: var(--texto-primario);
			opacity: 0.5;
		}

		.form-select__mensaje {
			color: var(--texto-primario);
			opacity: 0.5;
		}
	}
}

