@use '../../../../styles/00-settings/variables' as *;

.form-input {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: $espaciado-s;

  &__label {
    display: inline-flex;
    align-items: center;
    column-gap: $espaciado-xs;;

    &-texto {
      line-height: $line-tight;
      color: var(--texto-primario);
    }

    &-requerido {
      color: var(--warning);
      font-weight: $font-weight-bold;
    }
  }

  &__contenedor-input {
    position: relative;
    width: 100%;
    min-width: 0;
    height: 48px;
    display: flex;
    align-items: center;
    background: $fondo-input;
    border: $borde-thin solid $borde-input;
    border-radius: $radio-campo;
    padding: 0 $espaciado-m;
    gap: $espaciado-s;
    box-sizing: border-box;
    z-index: 0;
    transition: box-shadow $transicion-rapida ease-in-out, border-color $transicion-rapida ease-in-out;

    &:has(.form-input__campo[aria-invalid="true"])::before {
      border-color: var(--error);
      color: var(--error);
    }

    &:hover {
      cursor: text;
      background-color: $fondo-input-hover;
    }

    &:focus-within {
      border: 1.8px solid var(--info);
      background-color: $fondo-input-focus;
      color: $negro;
    }
  }

  &__icono {
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gris5;
    flex-shrink: 0;
    z-index: 2;
    pointer-events: none;

    &--derecha {
      margin-left: auto;
    }
  }

  &__contenedor:has(.form-input__campo[aria-invalid="true"]) .form-input__icono {
    color: var(--error);
  }

  &__campo {
    height: 100%;
    line-height: 1.2;
    vertical-align: middle;
    border: none;
    outline: none;
    box-shadow: none;
    background: transparent;
    padding: 0;

    overflow: visible;

    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: $gris5;
      user-select: none;
    }

    &[aria-invalid="true"]::placeholder {
      color: var(--error);
    }
  }

  &__mensaje {
    display: block;
    margin-block-start: $espaciado-s;
    font-size: $text-sm;
    color: var(--texto-primario);
    letter-spacing: -0.4px;

    &--error {
      color: var(--error);
    }
  }

  @media (max-width: 400px) {
    &__contenedor {
      padding-left: $espaciado-s;
      padding-right: $espaciado-s;
    }

    &__campo,
    &__mensaje,
    &__label {
      font-size: $text-sm;
    }
  }
}
