@use '../../../styles/00-settings/variables' as *;

.inicio {
  width: 100%;
  padding: $espaciado-xxl $espaciado-m;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $fondo-secciones;
  text-align: center;


  &__titulo {
    font-family: $font-secondary;
    font-size: $escala-h1;
    font-weight: $peso-h1;
    line-height: $altura-linea-h1;
    color: $titulos;
    margin-bottom: $espaciado-l;
  }

  &__descripcion {
    font-size: $escala-h3;
    font-weight: $peso-parrafo;
    line-height: $altura-linea-parrafo;
    color: $texto-oscuro;
    margin-bottom: $espaciado-xl;
  }

  &__acciones {
    width: 100%;
    min-height: 63px;
    display: flex;
    gap: $espaciado-m;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__boton {
    padding: $espaciado-m 0;
    font-size: $text-lg;
    font-weight: $font-weight-medium;
    border-radius: $radio-boton;
    text-decoration: none;
    transition: all $transicion-base $transicion-suave;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex: 1 1 220px;
    max-width: 320px;

    &--primario {
      background-color: $btn-primario;
      color: $texto-claro;
      border: none;

      &:hover {
        background-color: $btn-primario-hover;
        box-shadow: $shadow-md;
      }

      &:active {
        background-color: $btn-primario-active;
      }
    }

    &--secundario {
      background-color: $btn-secundario;
      color: $texto-oscuro;
      border: $borde-medium solid $color-primario;

      &:hover {
        background-color: $btn-secundario-hover;
        box-shadow: $shadow-md;
      }

      &:active {
        background-color: $btn-secundario-active;
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    padding: $espaciado-xl $espaciado-m;
    &__acciones {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: $espaciado-s;
      align-items: stretch;
    }

    &__boton {
      flex-basis: 100%;
      max-width: none;
      width: 100%;
    }
  }
}
