@use '../../../styles/00-settings/variables' as *;
@use '../../../styles/01-tools/mixins' as mixins;

.inicio {
  width: 100%;
  padding: $espaciado-xxl $espaciado-xxl;

  @include mixins.display-flex(column, $espaciado-xl, center, center);
  text-align: center;

  background-color: $fondo-secciones;


  &__titulo {
    margin-bottom: $espaciado-l;
    @include mixins.tipografia(h1, $titulos);
  }

  &__descripcion {
    margin-bottom: $espaciado-xl;
    @include mixins.tipografia(h3, $texto-oscuro);
  }

  &__acciones {
    width: 100%;
    min-height: 63px;

    @include mixins.display-flex(row, $espaciado-m, stretch, center);
    flex-wrap: wrap;
  }

  &__boton {
    max-width: 320px;
    padding: $espaciado-m 0;
    @include mixins.tipografia(button);
    font-size: $text-lg;

    @include mixins.centrar-flex();
    flex: 1 1 220px;
    text-decoration: none;

    border-radius: $radio-boton;
    box-sizing: border-box;

    transition: all $transicion-base $transicion-suave;
    cursor: pointer;

    &--primario {
      color: $texto-claro;
      background-color: $btn-primario;
      border: none;

      &:hover {
        background-color: $btn-primario-hover;
        box-shadow: $shadow-md;
      }

      &:active {
        background-color: $btn-primario-active;
      }
    }

    &--secundario {
      color: $texto-oscuro;
      background-color: $btn-secundario;
      border: $borde-medium solid $color-primario;

      &:hover {
        background-color: $btn-secundario-hover;
        box-shadow: $shadow-md;
      }

      &:active {
        background-color: $btn-secundario-active;
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    padding: $espaciado-xl $espaciado-m;

    &__acciones {
      width: 100%;

      @include mixins.display-flex(column, $espaciado-s, stretch);
    }

    &__boton {
      max-width: none;
      width: 100%;

      flex-basis: 100%;
    }
  }
}
