@use '../../../../styles/00-settings/variables' as *;
@use '../../../../styles/01-tools/mixins' as mixins;

.subida-archivo {
  width: 100%;

  &__zona-arrastre {
    @include mixins.display-flex(column, $espaciado-m, center, center);
    padding: $espaciado-xxl;
    border: 2px dashed var(--borde-cards);
    border-radius: $radio-card;
    text-align: center;
    background-color: var(--bg-secundario);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      border-color: var(--btn-primario);
      background-color: var(--bg-cards);
    }

    &--arrastrando {
      border-color: var(--btn-primario);
      background-color: var(--bg-hover);
      transform: scale(1.02);
    }
  }

  &__entrada {
    display: none;
  }

  &__icono {
    color: var(--texto-primario);
  }

  &__texto-principal {
    @include mixins.tipografia(parrafo, var(--texto-primario));
    margin: 0;
    font-weight: $font-weight-medium;
  }

  &__requisitos {
    @include mixins.tipografia(pequeno, var(--texto-primario));
    padding: 0;
    margin: $espaciado-s 0 0 0;
    line-height: 1.6;
    list-style: none;

    li {
      margin: $espaciado-xs 0;
    }
  }

  &__contenedor-previa {
    @include mixins.display-flex(column, $espaciado-m);
  }

  &__vista-previa {
    width: 100%;
    border-radius: $radio-card;
    border: 2px solid var(--borde-cards);
    overflow: hidden;
  }

  &__imagen-previa {
    width: 100%;
    height: auto;
    max-height: 18.75rem;
    display: block;
    background-color: var(--bg-secundario);
    object-fit: contain;
  }
}

@media (max-width: $breakpoint-tablet) {
  .subida-archivo {
    &__zona-arrastre {
      padding: $espaciado-l;
    }

    &__icono {
      width: 40px;
      height: 40px;
    }
  }
}

  

