@use '../../../../styles/00-settings/variables' as *;
@use '../../../../styles/01-tools/mixins' as mixins;

.form-checkbox {
	@include mixins.display-flex(row, $espaciado-xs, center);

	&__label {
		@include mixins.display-flex(row, $espaciado-s, center);
	}

	&__campo {
		width: 1px;
		height: 1px;
		border: 0;
		white-space: nowrap;

		opacity: 0;

		position: absolute;

		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
	}


	&__visual {
		width: 18px;
		height: 18px;
		margin-right: $espaciado-s;

		@include mixins.centrar-flex();
		flex: 0 0 18px;

		cursor: pointer;
		pointer-events: auto;
		user-select: none;

		.form-checkbox__icon {
			width: 100%;
			height: 100%;

			display: block;

			color: var(--etiquetas-cards);
			fill: currentColor;

			pointer-events: none;
		}

		.form-checkbox__icon--checked {
			display: none;
		}
	}

	/* cuando el input está checked, muestra el svg checked */
	input:checked + .form-checkbox__visual .form-checkbox__icon--checked {
		display: block;
	}

	/* y oculta el svg anterior cuando esté checked */
	input:checked + .form-checkbox__visual .form-checkbox__icon--box {
		display: none;
	}

	&__label-texto {
		@include mixins.tipografia(texto-pequeno, var(--etiquetas-cards));
	}

	&__label-requerido {
		color: var(--warning);
		font-weight: $font-weight-bold;
	}

	&--desactivado {
		@include mixins.desactivado();

		.form-checkbox__visual {
			cursor: default;
		}
	}

	input:focus + .form-checkbox__visual,
	input:focus-visible + .form-checkbox__visual {
		outline: 3px solid rgba(59,130,246,0.16);
		outline-offset: 2px;
		border-radius: 3px;
	}
}

