<nav class="breadcrumb" aria-label="Migas de pan">
  <ol class="breadcrumb__lista">
    @for (miga of migas(); track obtenerIndice(miga); let esUltima = $last) {
      <li class="breadcrumb__item">
        @if (esUltima) {
          <span class="breadcrumb__activo" aria-current="page">{{ miga.etiqueta }}</span>
        } @else {
          <a 
            class="breadcrumb__enlace" 
            [routerLink]="miga.url"
            [attr.aria-label]="'Navegar a ' + miga.etiqueta">
            {{ miga.etiqueta }}
          </a>
          <span class="breadcrumb__separador" aria-hidden="true">/</span>
        }
      </li>
    }
  </ol>
</nav>
