@use '../../../../styles/00-settings/variables' as *;
@use '../../../../styles/01-tools/mixins' as mixins;

.breadcrumb {
  padding: $espaciado-m;
  border-bottom: $borde-thin solid var(--borde);
  background-color: transparent;

  &__lista {
    @include mixins.display-flex(row, $espaciado-s, center, flex-start);
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
  }

  &__item {
    @include mixins.display-flex(row, $espaciado-s, center);
    @include mixins.tipografia(texto-pequeno, var(--texto-primario));
  }

  &__enlace {
    @include mixins.tipografia(texto-pequeno, var(--info));
    transition: color $transicion-base $transicion-suave;
    
    &:focus {
      outline: $borde-medium solid var(--links-titulo);
      outline-offset: $espaciado-xs;
      border-radius: $radio-xs;
    }
  }

  &__separador {
    color: var(--texto-primario);
    opacity: 0.5;
    font-weight: $font-weight-light;
    user-select: none;
  }

  &__activo {
    color: var(--texto-primario);
    font-weight: $font-weight-medium;
  }
}

// Responsive: ajustes para móviles
@media (max-width: $breakpoint-tablet) {
  .breadcrumb {
    padding: $espaciado-s 0;

    &__item {
      @include mixins.tipografia(texto-mini, var(--texto-primario));
    }
  }
}
