@use '../../../styles/00-settings/variables' as *;
@use '../../../styles/01-tools/mixins' as mixins;

.style-guide {
  padding: $espaciado-m;


  &__titulo {
    margin: $espaciado-m 0;
    @include mixins.tipografia(h1, var(--titulos));

    text-align: center;
  }

  &__contenido {
    width: 100%;
    height: fit-content;
    margin: auto;

    @include mixins.display-flex(column, $espaciado-l, center);
  }

  &__seccion{
    width: 60%;
    padding: $espaciado-xxl;

    @include mixins.display-flex(column, $espaciado-l, center);

    background-color: var(--bg-ocasional);
    border: 1px solid var(--borde-cards);
    border-radius: $radio-card;
  }

  &__botones {
    width: 100%;

    @include mixins.display-flex(row, $espaciado-m, stretch, space-around);
    flex-wrap: wrap;
  }

  &__grupo {
    min-width: 160px;

    @include mixins.display-flex(column, $espaciado-s, center);
  }

  &__subtitulo {
    margin-bottom: $espaciado-s;
    @include mixins.tipografia(parrafo);
  }

  &__grupo app-button {
    width: $boton-ancho;
  }

  &__titulos{
    @include mixins.tipografia(h2, var(--titulos));
  }

}
