<aside class="barra-lateral">
  <header class="barra-lateral__encabezado">
    <figure class="barra-lateral__perfil">
      <img src="" alt="Usuario" class="barra-lateral__perfil-icono">
      <figcaption class="barra-lateral__perfil-nombre">COHABIT</figcaption>
    </figure>
  </header>
  
  <nav class="barra-lateral__navegacion">
    <ul class="barra-lateral__menu">
      <li class="barra-lateral__menu-item barra-lateral__menu-item--activo">
        <a routerLink="/dashboard" class="barra-lateral__menu-enlace">
          <img src="" alt="" class="barra-lateral__menu-icono">
          <span class="barra-lateral__menu-texto">Dashboard</span>
        </a>
      </li>
      <li class="barra-lateral__menu-item">
        <a routerLink="/reservas" class="barra-lateral__menu-enlace">
          <img src="" alt="" class="barra-lateral__menu-icono">
          <span class="barra-lateral__menu-texto">Reservas</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>
