@use '../../../../styles/00-settings/variables' as *;

.barra-lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
  height: fit-content;
  min-height: 100%;
  gap: $espaciado-l;
  background: var(--bg-sidebar);
  padding: $espaciado-l $espaciado-l;
  box-sizing: border-box;

  &__encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__titulo {
    font-size: $text-xl;
    font-weight: $font-weight-bold;
    letter-spacing: 2px;
    text-align: center;
    margin: 0 0 $espaciado-m 0;
    color: var(--titulos);
  }

  &__perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: $radio-circulo;
    background: $gris6;
    overflow: hidden;
    margin: 0;

    &-imagen {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__navegacion {
    flex: 1;
  }

  &__menu {
    display: flex;
    flex-direction: column;

    &--secundario {
      margin: 0;
    }

    &-item {
      display: block;

      &:hover {
        display: block;
        background-color: var(--hover-enlaces-sidebar);
      }
    }

    &-enlace {
      display: flex;
      align-items: center;
      gap: $espaciado-m;
      padding: $espaciado-m $espaciado-s;
      color: var(--titulos);
      font-size: $text-lg;
      font-weight: $font-weight-medium;
      border: none;
      background: transparent;
      text-decoration: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      font-family: inherit;
      transition: background $transicion-rapida $transicion-suave;
      border-bottom: $borde-medium solid var(--borde-cards);
      border-radius: 0%;

      &:hover {
        background-color: var(--bg-primary);
        
      }

      &--activo {
        background: rgba($hover-ui, 0.12);
      }
    }

    &-icono {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $iconos-menu;
      height: $iconos-menu;
      flex-shrink: 0;
      color: var(--titulos);
    }

    &-texto {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__pie {
    
  }

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    min-height: auto;
    padding: $espaciado-m;

    &__titulo {
      font-size: $text-xl;
    }

    &__menu-enlace {
      font-size: $text-lg;
    }
  }
}
