@use '../../../../styles/00-settings/variables' as *;
@use '../../../../styles/01-tools/mixins' as mixins;

.barra-lateral {
  width: 100%;
  min-height: 800px;
  height: 100%;
  padding: $espaciado-l $espaciado-l;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: var(--bg-sidebar);
  gap: $espaciado-l;

  overflow-x: hidden;

  &__encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__titulo {
    margin: 0 0 $espaciado-m 0;
    @include mixins.tipografia(h4, var(--titulos));
    letter-spacing: 2px;

    text-align: center;
  }

  &__perfil {
    width: 80px;
    height: 80px;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $radio-circulo;

    background: var(--bg-ocasional);

    overflow: hidden;

    &-imagen {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__navegacion {
    flex: 1;
  }

  &__menu {
    display: flex;
    flex-direction: column;

    &--secundario {
      margin: 0;
    }

    &-item {
        display: block;
      
    }

    &-enlace {
      width: 100%;
      padding: $espaciado-m $espaciado-s;
      gap: $espaciado-m;
      @include mixins.tipografia(h4, var(--titulos));

      display: flex;
      align-items: center;
      border: none;
      border-bottom: $borde-medium solid var(--borde-cards);
      border-radius: 0%;
      text-align: left;

      background: transparent;

      transition: background $transicion-rapida $transicion-suave;
      cursor: pointer;

      &:hover {
        text-decoration: none;

        background-color: var(--hover-enlaces-sidebar);
      }

      &--activo {
        background-color: var(--hover);
        &:hover {
          background-color: var(--hover);
        }
      }
    }

    &-icono {
      width: $iconos-menu;
      height: $iconos-menu;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      /* Color por defecto del icono (usa variable CSS para temas) */
      color: var(--titulos);

      svg {
        width: 100%;
        height: 100%;
        display: block;
        stroke: currentColor;
        fill: none;
      }
    }

    &-texto {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__pie {
      
    }

  }

  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    min-height: auto;
    padding: $espaciado-m;
  }
  
}