@use "./variables" as *;
/*
  Variables CSS derivadas de las variables SCSS.
  Estas propiedades irán en :root y se usan para temas dinámicos en tiempo de ejecución (modo claro y oscuro).
*/

:root {
  /* Fondos */
  --bg-primario: #{ $fondo }; //Fondo general de la página
  --bg-secundario: #{ $color-complementario1 }; // Fondo secciones (dashboard, inicio)
  --bg-header-footer: #{ $color-primario }; //Fondo header y footer
  --bg-cards: #{ $color-complementario3 }; //Fondo de elementos dentro de la página (Cards) 
  --bg-sidebar: #{ $color-complementario3 }; //Fondo del Sidebar
  --bg-ocasional: #{$color-complementario4}; //Fondo poco utilizado
  --hover: #{ $color-apoyo };
  --hover-enlaces-sidebar: #{ $color-complementario4 };
  
  //tabla
  --bg-tabla-th: #{ $color-complementario3 }; //Fondo tabla encabezado
  --bg-fila1: #{ $blanco-puro }; //Fondo fila impar
  --bg-fila2: #{ $fila2 }; //Fondo tabla par

  

  /* Textos */
  --texto-primario: #{ $negro }; //texto sobre fondo claro
  --texto-secundario: #{ $blanco }; //texto sobre fondo claro
  --titulos: #{ $color-primario}; //Headings en secciones
  --etiquetas-cards: #{ $gris7 }; //etiquetas cards
  --importante-cards: #{ $color-primario-oscuro } ; // Texto importante y hay que dar énfasis en la card sobre lo demás (h4 principalmente)
  --links-titulo: #{ $color-apoyo };


  /* Bordes */
  --borde-btn-2: #{ $color-apoyo2 }; //Trazos del botón secundario
  --borde: #{ $negro }; //Borde general
  --borde-cards: #{ $color-apoyo }; //Borde de las cards
  
  /*Feedback*/
  --success: #{ $color-success };
  --error: #{ $color-error };
  --warning: #{ $color-warning };
  --info: #{ $color-info }; 

  /*Sombras*/
  --sombra-color-sm: rgba(16,24,40,0.06);
  --sombra-color-md: rgba(16,24,40,0.08);
  --sombra-color-lg: rgba(16,24,40,0.12);
  --sombra-color-xl: rgba(16,24,40,0.16);

  --sombra-sm: 0 1px 2px var(--sombra-color-sm);
  --sombra-md: 0 4px 8px var(--sombra-color-md);
  --sombra-lg: 0 10px 30px var(--sombra-color-lg);
  --sombra-xl: 0 20px 60px var(--sombra-color-xl);
}


/* Clase para forzar modo oscuro desde TS */
.dark, html.dark {
  --bg-primario: #{ $gris7 };
  --bg-secundario: #{ $negro };
  --bg-header-footer: #{ $gris7 };
  --bg-cards: #{ $gris6 };
  --bg-sidebar: #{ $gris6 };
  --bg-ocasional: #{$gris7}; //Fondo poco utilizado
  --hover: #{ $gris4 };
  --hover-enlaces-sidebar: #{ $gris5 };


  --bg-tabla-th: #{ $gris2 };
  --bg-fila1: #{ $gris7 };
  --bg-fila2: #{ $gris6 };

  --texto-primario: #{ $blanco };
  --texto-secundario: #{ $negro };
  --titulos: #{ $blanco-puro };
  --etiquetas-cards: #{ $gris1 };
  --importante-cards: #{ $blanco };
  --links-titulo: #{ $gris3 };

  --borde-btn-2: #{ $color-apoyo2 };
  --borde: #{ $blanco };
  --borde-cards: #{ $blanco };

  --success: #{ $color-success2 };
  --error: #{ $color-error2 };
  --warning: #{ $color-warning2 };
  --info: #{ $color-info2 };

  --sombra-color-sm: rgba(0,0,0,0.30);
  --sombra-color-md: rgba(0,0,0,0.45);
  --sombra-color-lg: rgba(0,0,0,0.60);
  --sombra-color-xl: rgba(0,0,0,0.75);

  --sombra-sm: 0 1px 2px var(--sombra-color-sm);
  --sombra-md: 0 4px 8px var(--sombra-color-md);
  --sombra-lg: 0 10px 30px var(--sombra-color-lg);
  --sombra-xl: 0 20px 60px var(--sombra-color-xl);
}


