@use '../../../styles/00-settings/variables' as *;
@use '../../../styles/01-tools/mixins' as mixins;

.page-registro {
  min-height: 100vh;
  padding: $espaciado-l;

  @include mixins.centrar-flex();

  background-color: var(--bg-page, #efefef);

  &__panel {
    width: 92%;
    max-width: 900px;
    padding: $espaciado-xxl;

    background: var(--bg-ocasional);
    border: 1px solid var(--borde-cards);
    border-radius: 24px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.06) inset, 0 6px 20px rgba(0,0,0,0.06);
  }
}
