@use '../../../styles/00-settings/variables' as *;
@use '../../../styles/01-tools/mixins' as mixins;

.page-login {
  min-height: 100vh;

  @include mixins.centrar-flex();

  background-color: var(--bg-secundario);

  &__panel {
    width: 100%;
    max-width: 760px;
    padding: $espaciado-xxl;
    border: 1px solid var(--borde-cards);
    border-radius: $radio-card;

    background: var(--bg-ocasional);
  }
}

@media (max-width: $breakpoint-movil-grande){
  .page-login{
    &__panel{
      padding: 0;
    }
  }
}
