@use '../../../../styles/00-settings/variables' as *;

.toast-container {
  
  display: flex;
  flex-direction: column;
  z-index: 9999;
  position: fixed;
  top: $espaciado-l;
  right: $espaciado-l;
  gap: $espaciado-m;
  
  pointer-events: none;
  
  
}

.toast-wrapper {
  pointer-events: auto;
  
}

@media (max-width: 768px) {
  .toast-container {
    top: $espaciado-m;
    right: $espaciado-m;
    left: $espaciado-m;
  }

  .toast-wrapper {
    width: 100%;

    ::ng-deep app-alert {
      width: 100%;
      max-width: 100%;
    }
  }
}
