@use '../../../../styles/00-settings/variables' as *;
@use '../../../../styles/01-tools/mixins' as mixins;

.login-form {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	padding: $espaciado-l;

	@include mixins.display-flex(column, $espaciado-m);

	&__title {
		margin-bottom: $espaciado-m;
		@include mixins.tipografia(h2, var(--titulos));

		text-align: center;
	}

	&__fieldset {
		padding: 0;
		margin: 0;

		@include mixins.display-flex(column, $espaciado-m);

		border: none;
	}

	&__legend {
		margin-bottom: $espaciado-s;
		font-weight: $font-weight-bold;
		@include mixins.tipografia(parrafo, var(--titulos));
	}

	&__options {
		margin-top: $espaciado-s;
	}

	&__botones {
		@include mixins.display-flex(column, $espaciado-m);

		app-button {
			width: 100%;
		}
	}

	&__cta {
		margin-top: $espaciado-s;
		@include mixins.tipografia(parrafo, var(--texto-primario));

		text-align: center;

		&-link {
			margin-left: $espaciado-xs;
			@include mixins.tipografia(enlace, var(--titulos));

			text-decoration: underline;
		}
	}
}
