<form class="login-form" [formGroup]="formularioLogin" (ngSubmit)="onSubmit()" novalidate>
    <h1 class="login-form__title">Inicio de sesión</h1>

	<fieldset class="login-form__fieldset">
		<legend class="login-form__legend">Credenciales</legend>

        <app-form-input
            id="login-email"
            name="email"
            formControlName="email"
            etiqueta="Correo electrónico"
            placeholder="example@example.ext"
            [tipo]="'email'"
            [requerido]="true"
            [estadoValidacion]="obtenerEstadoValidacion('email')"
            [mensajeAdvertencia]="obtenerMensajeAdvertencia('email')"
            [mensajeError]="obtenerMensajeError('email')"
            [mensajeExito]="obtenerMensajeExito('email')"
            [mostrarMensajeExito]="true"
            textoAyuda="Debe seguir el formato estándar de correo."
        ></app-form-input>

        <app-form-input
            id="login-password"
            name="password"
            formControlName="password"
            etiqueta="Contraseña"
            placeholder="Contraseña"
            [tipo]="'password'"
            [requerido]="true"
            [estadoValidacion]="obtenerEstadoValidacion('password')"
            [mensajeAdvertencia]="obtenerMensajeAdvertencia('password')"
            [mensajeError]="obtenerMensajeError('password')"
            [mensajeExito]="obtenerMensajeExito('password')"
            [mostrarMensajeExito]="true"
            textoAyuda="Debe tener como mínimo 8 caracteres."
        ></app-form-input>

        <app-form-checkbox 
            id="login-recordar" 
            name="recordar" 
            formControlName="recordar"
            etiqueta="Recuérdame"
        ></app-form-checkbox>

        <p class="login-form__cta">¿Aún no tienes una cuenta? - <a routerLink="/registro" class="login-form__cta-link">Regístrate</a></p>
	</fieldset>

	<footer class="login-form__botones">
		<app-button 
            variante="primario" 
            tipo="submit" 
            ariaLabel="Iniciar sesión"
            [deshabilitado]="formularioLogin.invalid"
        >
            Iniciar sesión
        </app-button>

		<app-button 
            variante="secundario" 
            tipo="button" 
            ariaLabel="Iniciar sesión con Google"
            (click)="iniciarSesionGoogle()"
        >
            Iniciar sesión con Google
        </app-button>
	</footer>
</form>
