@use '../../../styles/00-settings/variables' as *;
@use '../../../styles/01-tools/mixins' as mixins;

.datos-grupo {
  display: block;

  &__estado {
    @include mixins.centrar-flex(column);
    min-height: 400px;
    gap: $espaciado-l;

    &--carga {
      color: var(--texto-primario);
    }
  }

  &__cargador {
    width: 48px;
    height: 48px;
    border: 4px solid var(--borde-cards);
    border-top-color: var(--btn-primario);
    border-radius: $radio-circulo;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    to { transform: rotate(360deg); }
  }
}
