@use '../../../../styles/00-settings/variables' as *;
@use '../../../../styles/01-tools/mixins' as mixins;

.card-miembro{
    width: 100%;
    padding: $espaciado-l;
    
    @include mixins.centrar-flex(column);
    gap: $espaciado-m;
    border-radius: $radio-card;
    border: 1px solid var(--borde-cards);
    background-color: var(--bg-cards);
    
    transition: all $transicion-base $transicion-suave;

    &:hover{
        background-color: $color-nuevo1;
    }

    &__encabezado{
        width: 100%;
        padding-bottom: $espaciado-m;
        border-bottom: 1px solid var(--borde-cards);

        @include mixins.centrar-flex(column);
    }

    &__detalles{
        width: 100%;
        @include mixins.centrar-flex(column);
    }
}