<header class="cabecera">
  <a routerLink="/" class="cabecera__logo" title="Ir a Inicio">
    <picture class="cabecera__logo-icono">
      <img src="header/logo.svg" alt="Cohabit" title="Ir a Inicio" class="cabecera__logo-icono">
    </picture>
  </a>

  <nav class="cabecera__navegacion">
    <ul class="cabecera__menu">
      <li class="cabecera__menu-opcion">
        <a routerLink="/inicio" class="cabecera__menu-enlace">INICIO</a>
      </li>
      <li class="cabecera__menu-opcion">
        <a routerLink="/dashboard" class="cabecera__menu-enlace">DASHBOARD</a>
      </li>
      <li class="cabecera__menu-opcion">
        <a routerLink="/style-guide" class="cabecera__menu-enlace">STYLE GUIDE</a>
      </li>
      <li class="cabecera__menu-opcion">
        <a routerLink="/dashboard" class="cabecera__menu-enlace">MI GRUPO</a>
      </li>
    </ul>
  </nav>
  
  <section class="cabecera__utilidades">
    <button class="cabecera__boton" aria-label="Cambiar tema" (click)="alternarTema()">
      <span class="cabecera__icono" [feather]="modoIcon" [tipo]="'header'" [title]="modoTitle"></span>
    </button>
    <button class="cabecera__boton" aria-label="Perfil de usuario">
      <span class="cabecera__icono" [feather]="'user'" [tipo]="'header'" title="Perfil" role="img" aria-label="Perfil"></span>
    </button>
  </section>
</header>
