@use '../../../../styles/00-settings/variables' as *;

.cabecera{
  width: 100%;
  height: 10vh;
  padding: $espaciado-m;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primario;

  &__logo{
    width: 20%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
    

    &-icono{
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__navegacion{
    width: 40%;
  }
  
  &__menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-enlace {
      color: $importante-fondo-primario;
      text-decoration: none;
      transition: color $transicion-rapida ease-in-out;

      &:hover {
        color: $hover-ui;
      }
    }
  }

  &__utilidades{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    gap: $espaciado-m; 
  }

  &__boton{
    width: 36px; height: 36px;
    padding: 0;
    background-color: transparent;
  }

  &__icono{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  
}